.topnav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
  .container{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
  }
}

.home-hero-container {
  position: relative;
  z-index: 10;
  margin-top: 40px;
  &.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
  }
}